# ID do projeto no Dialogflow
PROJECT_ID=

# Credenciais do Google Cloud
# https://botflo.com/understanding-dialogflow-service-account-roles-and-their-use-cases/
# Coloque o conteúdo do arquivo JSON aqui
GCLOUD_CREDENTIALS=

# Token recebido do @BotFather ao criar bot no Telegram
TELEGRAM_BOT_TOKEN=

# URL do servidor webhook (opcional)
# Ex.: https://example.com
TELEGRAM_WEBHOOK_URL=

# Caminho secreto para o servidor webhook
# Recomenda-se colocar uma string aleatória
# Ex.: /abcdefghijkl
TELEGRAM_WEBHOOK_SECRET_PATH=

# Dados do banco de dados MySQL do servidor Webhook
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# API do SheetDB (para integração com Planilhas Google)
SHEETDB_API=

# Coloque 1 ou qualquer valor para desativar algum bot ou o webhook
DISABLE_WHATSAPP=0
DISABLE_TELEGRAM=0
DISABLE_GOOGLE_SHEETS=0
DISABLE_WEBHOOK=0
DISABLE_SITE=0